<a href="https://colab.research.google.com/github/mikecchau/Utilizing-LinearSVM-for-stroke-prediction/blob/main/SVM_stroke_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git init

Reinitialized existing Git repository in /content/.git/

In [5]:
!git clone https://github.com/mikecchau/Utilizing-LinearSVM-for-stroke-prediction

Cloning into 'Utilizing-LinearSVM-for-stroke-prediction'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 18 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [11]:
%cd /content/Utilizing-LinearSVM-for-stroke-prediction/Data

/content/Utilizing-LinearSVM-for-stroke-prediction/Data

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
df=pd.read_csv('healthcare-dataset-stroke-data.csv')

In [21]:
df.shape

(5110, 12)

In [23]:
df = df.drop('id', axis=1)

Drop 'id' column

In [37]:
df.tail(20)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5070,Female,5.00,0,0,No,children,Urban,61.98,16.800000,Unknown,0
5071,Male,81.00,0,0,Yes,Private,Rural,135.32,35.800000,Unknown,0
5072,Female,35.00,0,0,Yes,Private,Rural,58.72,40.000000,smokes,0
5073,Female,24.00,0,0,No,Private,Urban,90.42,24.300000,never smoked,0
5074,Female,52.00,0,0,Yes,Govt_job,Urban,104.00,25.600000,smokes,0
5075,Male,70.00,0,0,Yes,Private,Urban,102.50,37.800000,Unknown,0
5076,Female,34.00,0,0,Yes,Private,Rural,174.37,23.000000,never smoked,0
5077,Male,17.00,0,0,No,Private,Rural,106.56,21.000000,Unknown,0
5078,Female,8.00,0,0,No,children,Urban,76.31,15.500000,Unknown,0
5079,Male,1.72,0,0,No,children,Urban,77.28,17.100000,Unknown,0
5080,Female,29.00,0,0,Yes,Self-employed,Urban,90.52,28.000000,never smoked,0
5081,Male,55.00,0,0,Yes,Govt_job,Rural,108.35,40.800000,formerly smoked,0
5082,Female,44.00,0,0,Yes,Private,Rural,72.03,37.500000,smokes,0
5083,Female,19.00,0,0,No,Private,Urban,90.57,24.200000,Unknown,0
5084,Male,67.00,0,0,Yes,Private,Rural,97.04,26.900000,smokes,0
5085,Female,72.00,0,0,Yes,Private,Urban,83.89,33.100000,formerly smoked,0
5086,Female,51.00,0,0,Yes,Private,Urban,152.56,21.800000,Unknown,0
5087,Female,63.00,0,0,Yes,Self-employed,Rural,75.93,34.700000,formerly smoked,0
5088,Female,64.00,1,0,Yes,Self-employed,Urban,76.89,30.200000,Unknown,0
5089,Female,0.72,0,0,No,children,Rural,62.13,16.800000,Unknown,0
5090,Male,26.00,0,0,No,Govt_job,Rural,100.85,21.000000,smokes,0
5091,Male,59.00,1,0,Yes,Private,Rural,95.05,30.900000,never smoked,0
5092,Male,76.00,0,0,Yes,Govt_job,Urban,82.35,38.900000,never smoked,0
5093,Female,45.00,1,0,Yes,Govt_job,Rural,95.02,28.893237,smokes,0
5094,Male,13.00,0,0,No,children,Urban,82.38,24.300000,Unknown,0
5095,Male,1.08,0,0,No,children,Rural,79.15,17.400000,Unknown,0
5096,Male,57.00,0,0,Yes,Govt_job,Rural,76.62,28.200000,never smoked,0
5097,Male,68.00,0,0,Yes,Self-employed,Urban,91.68,40.800000,Unknown,0
5098,Male,9.00,0,0,No,children,Urban,71.88,17.500000,Unknown,0
5099,Male,40.00,0,0,Yes,Private,Rural,83.94,28.893237,smokes,0
5100,Male,82.00,1,0,Yes,Self-employed,Rural,71.97,28.300000,never smoked,0
5101,Female,45.00,0,0,Yes,Private,Urban,97.95,24.500000,Unknown,0
5102,Female,57.00,0,0,Yes,Private,Rural,77.93,21.700000,never smoked,0
5103,Female,18.00,0,0,No,Private,Urban,82.85,46.900000,Unknown,0
5104,Female,13.00,0,0,No,children,Rural,103.08,18.600000,Unknown,0
5105,Female,80.00,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,Female,81.00,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,Female,35.00,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,Male,51.00,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,Female,44.00,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [17]:
from sklearn.impute import SimpleImputer

In [25]:
df['stroke'].isnull().sum()

0

There are no missing labels in the dataset

In [27]:
# Create features matrix
X = df.drop('stroke', axis=1)

In [28]:
# Create label matrix
y = df['stroke']

In [31]:
# Check for missing values in columns
for x in X:
  print(df[x].isnull().sum())

0
0
0
0
0
0
0
0
201
0

This indicates that there are 201 missing values within the 'bmi' column.

In [33]:
# Fill missing 'bmi' values with mean
df['bmi'].fillna(value=df['bmi'].mean(), inplace=True)

In [35]:
# Recheck for missing values
df.isnull().values.any()

False